<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:hadoop="http://www.springframework.org/schema/hadoop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

  <import resource="classpath:applicationContext-properties.xml" />

  <hadoop:configuration id="hadoopConfiguration">
    fs.default.name=hdfs://${hadoop.namenode.server}:${hadoop.namenode.port}
    hadoop.tmp.dir=file://${java.io.tmpdir}
  </hadoop:configuration>

  <bean id="hdfsFileSystem" class="org.springframework.data.hadoop.fs.FileSystemFactoryBean">
    <property name="configuration" ref="hadoopConfiguration" />
  </bean>

  <bean id="hdfsRwDao" class="org.projectx.hdfs.dao.ReadWriteHdfsDaoImpl">
    <constructor-arg ref="hdfsRoDao" />
    <constructor-arg ref="hdfsFileSystem" />
  </bean>
  <bean id="hdfsRoDao" class="org.projectx.hdfs.dao.ReadOnlyHdfsDaoImpl">
    <constructor-arg ref="hdfsFileSystem" />
  </bean>

</beans>